.error {
  color: #f00;
}

.dragndrop {
  font-size: 24px;
  padding: 40px;
  text-align: center;
}

.dragarea {
  border: 2px solid #bbb;
  background-color: #eee;
  color: #999;
  cursor: pointer;
}

.droparea {
  border: 2px dotted #bbb;
  background-color: #cfc;
  color: #aaa;
}
