.loading {
  margin: 15px;
}

.options {
  border: 1px solid #221138;
  background-color: #7C53AE;
  padding: 20px;
}
.options select {
  margin-right: 25px;
}

th {
  cursor: pointer;
  padding: 4px 32px;
  background-color: #7c53ae;
  color: #221138;
}
td {
  padding: 4px;
}

th.asc {
  background: #7c53ae url('../../../assets/img/sort-asc.png') no-repeat right 8px center;

}
th.desc {
  background: #7c53ae url('../../../assets/img/sort-desc.png') no-repeat right 8px center;
}

td {
  border-radius: 10px;
  background-color: white;
  transition: background-color 750ms linear;
}
td.success {
  background-color: #71D65C;
  transition: background-color 250ms linear;
}

.no-results {
  color: #221138;
  padding: 20px;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}

.date, .currency {
  width: 80px;
  text-align: center;
}

.short {
  width: 150px;
  text-align: center;
}

.extraLong {
  text-align: left;
}
th.extraLong {
  padding-left: 4px;
}

td a {
  display: inline-block;
  float: right;
}
