/* You can add global styles to this file, and also import other style files */

body {
  font-family: “Poppins”, sans-serif;

  margin: 0;
  padding: 0;
}

h2, h3 {
  color: #221139;
  margin: 1em 0 0.3em;
}
h2 {
  font-size: 18px;
  font-weight: normal;
}
h3 {
  font-size: 12px;
}

label {
  color: #221138;
  font-weight: bold;
}
