<div class="topBar">
  <h1>{{title}}</h1>
</div>

<!--<nav>-->
  <!--<a *ngIf="getUserProfile() != null" routerLink="/open-games" routerLinkActive="active">Open Games</a>-->
  <!--<a routerLink="/games" routerLinkActive="active">Active Games</a>-->
  <!--<a routerLink="/configuration" routerLinkActive="active">Configuration</a>-->
<!--</nav>-->

<nav>
  <div>
    <a routerLink="/transactions" routerLinkActive="active">
      Transactions
    </a>
  </div>
  <div>
    <a routerLink="/upload" routerLinkActive="active">
      Upload
    </a>
  </div>
  <div>
    <a>
      This Month
    </a>
  </div>
  <div>
    <a>
      Rules
    </a>
  </div>
  <div>
    <a>
      Configuration
    </a>
  </div>
</nav>

<div class="mainContent">
  <router-outlet></router-outlet>
</div>



